<dialog id="" class="w-full max-w-96 md:max-w-xs p-0 border-0 text-black dark:text-white background-neutral-100 dark:background-neutral-900">
	<div class="m-4 flex flex-col gap-4">
		<div class="flex items-start justify-between">
			<h1 class="m-0 text-xl font-medium">Alert details</h1>
			<button
				class="w-5 lg:w-6 h-5 lg:h-6 p-0 border-0 text-black dark:text-white background-transparent outline-none cursor-pointer"
				onclick="closeAlertDialog()"
			>
				<icon-x-mark ref="./src/app/components/icon-x-mark.html" />
			</button>
		</div>
		<div class="overflow-x-auto scrollbar-none">
			<table class="w-full text-nowrap border-collapse">
				<tbody id="alert">
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Severity</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="m-0 w-15 h-4 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Field</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="m-0 w-24 h-4 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Edge</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="m-0 w-8 h-4 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Value</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="m-0 w-12 h-4 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Issued at</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="m-0 w-40 h-4 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Resolved at</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="m-0 w-40 h-4 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
					<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4 text-neutral-600 dark:text-neutral-400">
							<p class="m-0">Device id</p>
						</td>
						<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
							<p class="font-mono m-0 w-40 h-4 text-blue-600 dark:text-blue-400 background-neutral-200 dark:background-neutral-800"></p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</dialog>
