<div id="" class="flex gap-2 sm:gap-3 md:gap-4 overflow-x-auto scrollbar-none text-nowrap">
	<button
		value="1209600"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(1209600)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">14d</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">14 days</p>
	</button>
	<button
		value="604800"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(604800)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">7d</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">7 days</p>
	</button>
	<button
		value="345600"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(345600)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">4d</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">4 days</p>
	</button>
	<button
		value="172800"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(172800)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">2d</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">2 days</p>
	</button>
	<button
		value="86400"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(86400)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">24h</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">24 hours</p>
	</button>
	<button
		value="43200"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(43200)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">12h</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">12 hours</p>
	</button>
	<button
		value="21600"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(21600)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">6h</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">6 hours</p>
	</button>
	<button
		value="10800"
		class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer"
		onclick="onRangeChange(10800)"
	>
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">3h</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">3 hours</p>
	</button>
	<button value="3600" class="p-1 md:p-1.5 lg:p-2 border-none background-neutral-100 dark:background-neutral-900 cursor-pointer" onclick="onRangeChange(3600)">
		<p class="sm:hidden m-0 text-base font-normal text-black dark:text-white">60m</p>
		<p class="hidden sm:block m-0 text-base font-normal text-black dark:text-white">60 minutes</p>
	</button>
</div>
