<div id="" class="flex gap-2 sm:gap-3 md:gap-4">
	<input
		type="datetime-local"
		onchange="onTimeChange('from', event.target.value)"
		class="box-border m-0 p-1 md:p-1.5 lg:p-2 text-sm leading-none font-normal border-0 text-black dark:text-white background-neutral-100 dark:background-neutral-900"
	/>
	<input
		type="datetime-local"
		onchange="onTimeChange('to', event.target.value)"
		class="box-border m-0 p-1 md:p-1.5 lg:p-2 text-sm leading-none font-normal border-0 text-black dark:text-white background-neutral-100 dark:background-neutral-900"
	/>
</div>
