<div id="" class="w-full flex justify-around text-xs">
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden sm:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden sm:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden sm:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
	<label class="hidden lg:inline w-8 h-3 text-neutral-600 dark:text-neutral-400 background-neutral-200 dark:background-neutral-800"></label>
</div>
