<path class="stroke-blue-400/80 dark:stroke-blue-600/80" fill="none" stroke-width="2" />
<path class="stroke-sky-400/80 dark:stroke-sky-600/80" fill="none" stroke-width="2" />
<path class="stroke-cyan-400/80 dark:stroke-cyan-600/80" fill="none" stroke-width="2" />
<path class="stroke-teal-400/80 dark:stroke-teal-600/80" fill="none" stroke-width="2" />
<path class="stroke-lime-400/80 dark:stroke-lime-600/80" fill="none" stroke-width="2" />
<path class="stroke-yellow-400/80 dark:stroke-yellow-600/80" fill="none" stroke-width="2" />
