<div id="" class="h-4 mb-1 sm:mb-2 flex gap-2 sm:gap-4 md:gap-2 lg:gap-4 text-xs font-normal text-nowrap background-neutral-200 dark:background-neutral-800">
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-red-400/80 dark:background-red-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-orange-400/80 dark:background-orange-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-amber-400/80 dark:background-amber-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-yellow-400/80 dark:background-yellow-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-lime-400/80 dark:background-lime-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-green-400/80 dark:background-green-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-emerald-400/80 dark:background-emerald-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-teal-400/80 dark:background-teal-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-cyan-400/80 dark:background-cyan-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-sky-400/80 dark:background-sky-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-blue-400/80 dark:background-blue-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-indigo-400/80 dark:background-indigo-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-violet-400/80 dark:background-violet-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-purple-400/80 dark:background-purple-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-fuchsia-400/80 dark:background-fuchsia-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-pink-400/80 dark:background-pink-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
	<div class="items-center flex gap-1">
		<span class="hidden w-2 h-2 background-rose-400/80 dark:background-rose-600/80"></span>
		<label class="text-neutral-600 dark:text-neutral-400"></label>
	</div>
</div>
