<div id="pagination" class="w-full flex justify-center gap-2 sm:gap-3 lg:gap-4 overflow-x-auto scrollbar-none">
	<button class="flex items-center gap-1 sm:gap-1.5 lg:gap-2 p-0 border-none text-black dark:text-white background-transparent opacity-50">
		<icon-arrow-long-left ref="./src/app/components/icon-arrow-long-left.html" class="w-5 lg:w-6 h-5 lg:h-6" />
		<p class="m-0 text-base font-normal leading-none">Previous</p>
	</button>
	<div class="flex gap-1 sm:gap-1.5 lg:gap-2">
		<button class="p-0 border-none text-black dark:text-white background-transparent">
			<p class="h-4 min-w-6 m-0 text-base font-normal leading-none background-neutral-200 dark:background-neutral-800"></p>
		</button>
		<button class="p-0 border-none text-black dark:text-white background-transparent">
			<p class="h-4 min-w-6 m-0 text-base font-normal leading-none background-neutral-200 dark:background-neutral-800"></p>
		</button>
		<button class="p-0 border-none text-black dark:text-white background-transparent">
			<p class="h-4 min-w-6 m-0 text-base font-normal leading-none text-blue-600 dark:text-blue-400 background-neutral-200 dark:background-neutral-800"></p>
		</button>
		<button class="p-0 border-none text-black dark:text-white background-transparent">
			<p class="h-4 min-w-6 m-0 text-base font-normal leading-none background-neutral-200 dark:background-neutral-800"></p>
		</button>
		<button class="p-0 border-none text-black dark:text-white background-transparent">
			<p class="h-4 min-w-6 m-0 text-base font-normal leading-none background-neutral-200 dark:background-neutral-800"></p>
		</button>
	</div>
	<button class="flex items-center gap-1 sm:gap-1.5 lg:gap-2 p-0 border-none text-black dark:text-white background-transparent opacity-50">
		<p class="m-0 text-base font-normal leading-none">Next</p>
		<icon-arrow-long-right ref="./src/app/components/icon-arrow-long-right.html" class="w-5 lg:w-6 h-5 lg:h-6" />
	</button>
</div>
