<tr class="border-solid border-t-0 border-r-0 border-b-1 border-l-0 border-b-neutral-300 dark:border-b-neutral-700">
	<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
		<p class="font-mono m-0 w-10 h-4 background-neutral-200 dark:background-neutral-800"></p>
	</td>
	<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
		<p class="m-0 w-24 h-4 background-neutral-200 dark:background-neutral-800"></p>
	</td>
	<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
		<p class="m-0 w-40 h-4 background-neutral-200 dark:background-neutral-800"></p>
	</td>
	<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
		<p class="m-0 w-40 h-4 background-neutral-200 dark:background-neutral-800"></p>
	</td>
	<td class="pt-2 sm:pt-3 lg:pt-4 pr-2 sm:pr-3 lg:pr-4 pb-2 sm:pb-3 lg:pb-4">
		<p class="m-0 w-40 h-4 background-neutral-200 dark:background-neutral-800"></p>
	</td>
	<td>
		<icon-trash ref="./src/app/components/icon-trash.html" class="w-5 lg:w-6 h-5 lg:h-6 opacity-50 cursor-not-allowed" />
	</td>
</tr>
